<!doctype html>
<html lang="en">
    <head>
        <title>Relatório</title>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head>
    <body>

        <div class="container">
            <div class="row">
                <div class="col-12">
                    <table style="width: 100%;">
                        <thead>
                            <tr>
                                <td colspan="4" class="text-center">
                                    <h3>DETALHAMENTO DE ACESSO</h3>
                                    <hr />
                                </td>
                            </tr>
                            <tr>
                                <td colspan="1" style="width: 300px;">
                                    <img src="/*URL_PATH*//dist/img/cabflix.png" alt="Alternate Text" style="max-width: 200px;" />
                                </td>
                                <td colspan="3">
                                    <h4><b>/*TITLE*/</b></h4>
                                    <h5>/*ADDRESS*/</h5>
                                    <h6>/*URL_PATH*/</h6>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="4" class="text-center"><hr /></td>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="row">
                        <div class="col-md-4">
                            <h6>/*PERIODO*/</h6>
                        </div>
                        <div class="col-md-4">
                            <h6>/*RESPONSAVEL*/</h6>
                        </div>
                        <div class="col-md-4">
                            <h6>/*TOTAL*/</h6>
                        </div>
                        
                    </div>
                    
                    
                     <hr/>
                    <p>
                        /*BODY*/
                    </p>
                    
                    <hr/>
                    
                    <style>
                        table.content {
                            font-family: arial, sans-serif;
                            border-collapse: collapse;
                            width: 100%;
                        }

                        .content td, .content th {
                            border: 1px solid #dddddd;
                            text-align: left;
                            padding: 8px;
                        }

                        .content tr:nth-child(even) {
                            background-color: #dddddd;
                        }

                    </style>
                    <!--<table class="content">
                        <tr>
                            <th>Company</th>
                            <th>Contact</th>
                            <th>Country</th>
                        </tr>
                        <tr>
                            <td>Alfreds Futterkiste</td>
                            <td>Maria Anders</td>
                            <td>Germany</td>
                        </tr>
                        <tr>
                            <td>Centro comercial Moctezuma</td>
                            <td>Francisco Chang</td>
                            <td>Mexico</td>
                        </tr>
                        <tr>
                            <td>Ernst Handel</td>
                            <td>Roland Mendel</td>
                            <td>Austria</td>
                        </tr>
                        <tr>
                            <td>Island Trading</td>
                            <td>Helen Bennett</td>
                            <td>UK</td>
                        </tr>
                        <tr>
                            <td>Laughing Bacchus Winecellars</td>
                            <td>Yoshi Tannamuri</td>
                            <td>Canada</td>
                        </tr>
                        <tr>
                            <td>Magazzini Alimentari Riuniti</td>
                            <td>Giovanni Rovelli</td>
                            <td>Italy</td>
                        </tr>
                    </table>-->
                </div>
            </div>
        </div>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </body>
</html>